@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;800&display=swap');


html,
body {
  font-family: 'Heebo', sans-serif;
  background-color: #2b2f77;
  min-width: 75%;
}

.appbar {
  background-color:#1a1a47;
  display: flex;
  flex-direction: row;
  box-shadow: 0 1px 24px 0 rgba(32, 32, 32, 0.75);
  text-align: center;
  justify-content: space-around;
  width: 100%;
}

.logo {
  width: 70%;
  margin: 1rem;
}

.subtitle {
  align-self: center;
  font-size: 1.2rem;
  color: #eefbfb;
  font-weight: 200;
}

.update_button_conteiner {
  width: auto;
  display: flex;
  align-items: center;
  margin: 1rem;
  justify-content: space-evenly;
  height: 80vh;
}

/* Recording button */

button {
  width: 50vh;
  height: 50vh;
  font-size: 0;
  background-color: #f8c96c;
  border: 0;
  border-radius: 40vh;
  margin: 5rem;
  outline: none;
  cursor: pointer;
}

.notRec {
  background-color: #f7b839;
}

.Rec {
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 2rem 0px #dfa229;
  }
  65% {
    box-shadow: 0px 0px 2rem 4rem #bb8b2b;
  }
  90% {
    box-shadow: 0px 0px 2rem 4rem rgba(173, 0, 0, 0);
  }
}

/* Music Card */

.card-conteiner {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.scene {
  display: flex;
  justify-content: space-between;
  perspective: 800px;
}

.card {
  position: relative;
  width: 25rem;
  height: 25rem;
  color: white;
  cursor: pointer;
  transition: 1s ease-in-out;
  transform-style: preserve-3d;
}

.music-text {
  text-align: center;
}

.music-text h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bolder;

}

.music-text h3 {
  font-size: 1rem;
}

.card:hover {
  transform: rotateY(0.5turn);
}

.card__face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: 1s ease-in-out;
  -webkit-box-reflect: below 0
    linear-gradient(transparent 50%, transparent, rgba(0, 0, 0, 0.4));
}

.album-img {
  width: 25rem;
  height: 25rem;
  object-fit: cover;
}

.card__face--back {
  background-color: white;
  transform: rotateY(0.5turn);
  display: block;
  position: relative;
  display: grid;
}


/* links */

.service{
  width: 100%;
  padding: 2px 0;
  border-bottom: 1px solid #f5f5f5;
  transition: background-color .3s ease;
  cursor: pointer;
}

.service:hover{
  background-color: #e5e7e9;
}

.service img{
  max-width: 125px;
  display: block;
  margin: 0 0 0 15px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.service a {
  width: 100%;
  display: table;
  position: relative;
  min-height: 4.5em;
}

.service span{
  font-weight: bolder;
  margin: 0 15px 0 0;
  padding: 8px 10px;
  border: 1px solid #67d6b7;
  border-radius: 2px;
  color: #1a1a47;
  background-color: white;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 0;
}

.service span:hover{
  background-color: #67d6b7;
  color: black;
}


/* Right side */

.right-side {
  display: grid;
  width: 560px;
}

.content {
  display: flex;
  justify-content: space-evenly;
  margin: 8rem;
  width: 80%;
}

.video {
  width: 560px;
  height: 315px;
}

.lyrics-conteiner{
  width: 50%;
  height: 315px;
  min-width: 20rem;
  margin-right: 1rem;
  cursor: pointer;
}

.lyrics-conteiner .lyrics-title{
  text-align: center;
  font-size: 1.5rem;
  background-color: #f7b839;
  border-radius: 1rem;  
  height: 2rem;
  display: flex;
  justify-content: center;
}

.lyrics-conteiner .lyrics-title:hover{
  background-color: #f8c96c;
}

.lyrics-conteiner .lyrics-title h1{
  text-align: center;
  color: black;
  font-size: 1.5rem;
  font-weight: bolder;
  align-self: center;
}


.lyrics{
  word-break: break-all;
  color: white;
  white-space: pre-wrap;
  text-align: left;
  margin-top: 1rem;
  transition: all 1s linear;
  height: 270px;
  overflow-y:scroll;
}

.lyrics-hided{
  display: none;
}


.error-message{
  color: white;
  font-weight: bolder;
  text-align: center;
  margin: 2rem;
  font-size: larger;

}