@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;900&display=swap");

html,
body {
  font-family: "Inter", sans-serif;
  background-color: #eefbfb;
  min-width: 75%;
}

.appbar {
  background-color: black;
  display: flex;
  flex-direction: row;
  box-shadow: 0 1px 24px 0 rgba(32, 32, 32, 0.75);
  margin-bottom: 1rem;
  text-align: center;
  justify-content: space-around;
}

.logo {
  width: 15%;
  margin: 1rem;
}

.subtitle {
  align-self: center;
  font-size: 1.2rem;
  color: #eefbfb;
}

.update_button_conteiner {
  width: auto;
  display: flex;
  align-items: center;
  margin: 0.3rem;
  justify-content: space-evenly;
}

.button {
  width: 200px;
  border-radius: 5px;
  background-color: #4da8da;
  border: solid 1px transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  padding: 2rem;
}

.button:hover {
  background-color: black;
  border-color: #fff;
  transition: all 0.1s ease-in-out;
} 

button {
	width: 35px;
	height: 35px;
	font-size: 0;
	background-color: red;
	border: 0;
	border-radius: 35px;
	margin: 18px;
	outline: none;
}

.notRec{
	background-color: darkred;
}

.Rec{
	animation-name: pulse;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes pulse{
	0%{
		box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
	}
	65%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,.3);
	}
	90%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,0);
	}
}

/* Recording button */

button {
	width: 20rem;
	height: 20rem;
	font-size: 0;
	background-color: red;
	border: 0;
	border-radius: 10rem;
	margin: 2rem;
	outline: none;
}

.notRec{
	background-color: darkred;
}

.Rec{
	animation-name: pulse;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes pulse{
	0%{
		box-shadow: 0px 0px 2rem 0px rgba(173,0,0,.3);
	}
	65%{
		box-shadow: 0px 0px 2rem 4rem rgba(173,0,0,.3);
	}
	90%{
		box-shadow: 0px 0px 2rem 4rem rgba(173,0,0,0);
	}
}
